* {
  padding: 0;
  margin: 0;
  /* border: 1px solid rebeccapurple; */

}
a {
  text-decoration: none;
}

:root {
  --white: #fff;
  --roundBoxPy: 15px;
  --thirteenpy: 13px;
  --roundBoxPx: 24px;
  --border-radius: 15px;
  --primary-color: #58afeb;
  --round-box-width: 100%;
  --body-color: #f5f5f5;
}

body {
  background-color: #f5f5f5;
  position: relative;
}

/* ========================================
        Navbar Styling start
  ========================================= */

nav {
  border-radius: 25px;
  padding: 20px;
  background-color: var(--white);
}

/* ========================================
        Navbar Styling end
  ========================================= */

/* ========================================
        Content Styling start
  ========================================= */

/* === Here I am styling element in section 1 === */
.firs-search-section{
  padding-right: 18px;
}

.round-box-title {
  width: var(--round-box-width);
  border-radius: 15px;
  padding: var(--roundBoxPy) var(--roundBoxPx);
  position: relative;
  left: 2%;
  right: 2%;
  background-color: var(--white);
  transition: all 0.5s;
}
.round-box-title:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.22);
}
#map {
  height: 300px;
  width: 100%;
  border-radius: var(--border-radius);
}
.map-container {
  position: relative;
  border-radius: var(--border-radius);
}
.containerOfSearch {
  position: absolute;
  width: 90%;
  top: 5%;
  left: 2%;
  right: 2%;
  margin:auto;
}
.map-container:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.containerOfSearch input {
  margin: 0;
  padding: var(--thirteenpy) var(--roundBoxPx);
  border-radius: var(--border-radius) !important;
  position: relative;
}
/* (*) symbol show  the code have written */
/* this code have written in below in parentOfSearch (*) */

/* === end === */

/* === Here I am styling element in section 2 for search === */
.parentOfSearch {
  border-radius: var(--border-radius) !important;
  background-color: #e4e4e4 !important;
}
section.second-search-section {
  width: 98%;

}
section.second-search-section input {
  padding: var(--roundBoxPy) var(--roundBoxPx);
  border-radius: var(--border-radius) !important;
  position: relative;
  background-color: #e4e4e4;
  border: none;
}

/* this code is same as for containerOfSearch in above (*) */
input.form-control ~ a {
  position: absolute;
  top: 15%;
  right: 5%;
  font-size: 25px;
  z-index: 111;
  color: var(--primary-color);
}

/*---- end ---*/

.number-wrapper {
  position: relative;
  width:var(--round-box-width) !important;
  border-radius: var(--border-radius);
  transition: 0.5s;
  display: flex;
  left: 2%;
  right: 2%;
  background-color: var(--white);
  transition: 0.3s;
}
.number-wrapper:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

.number-wrapper span.content {
  border-radius: var(--border-radius);
  padding: 14px 50px 15px 24px;
}
.number-wrapper i {
  color: var(--primary-color) !important;
  padding: 0px !important;
}

.number-wrapper i::before {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
#box span {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 50px;
  display: none;
  font-size: 24px;
  font-weight: 700;
  user-select: none;
  box-sizing: border-box;
}
#box span:nth-child(1) {
  display: initial;
}
.number-wrapper i.next {
  position: absolute;
  top: 0%;
  right: 5%;
  margin: 0;
}
.number-wrapper i.prev {
  position: absolute;
  bottom: 0%;
  right: 5%;
  margin: 0;
}
/* === Here I am styling element in section 3 for search box
 remember here styling are same for both 1 and 2 section ===
  */
  .secondSelectbox{
    margin-left: -2px !important;
  }
.select-box {
  position: relative;
  display: flex;
  width: var(--round-box-width);
  flex-direction: column;
  left: 2%;
  right: 2%;
  margin: auto;
}
.options-container {
  border-radius: 25px !important;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.select-box .options-container {
  background: var(--white);
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
  position: absolute;
  z-index: 100;
}
.selected {
  background: var(--white);
  border-radius: var(--border-radius);
  margin-bottom: 8px;
  position: relative;
  order: 0;

}
.selected::after {
  content: "";
  background: url("../img/001-down-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 20px;
  right: 10px;
  top: 15px;
  transition: all 0.4s;
}
.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  margin-top: 60px;
}
.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -16px;
}
.select-box .option,
.selected {
  padding: var(--roundBoxPy) var(--roundBoxPx);
  cursor: pointer;
}
.select-box label {
  cursor: pointer;
}
.select-box .option .radio {
  display: none;
}
/* === end === */

/* ========================================
        Content Section Styling end
  ========================================= */
.overflow-section {
  height: 70vh !important;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
}
.overflow-section::-webkit-scrollbar {
  display: none;
}
.rankingImage {
  width: 40px;
  height: 40px;
  background-color: brown;
  border-radius: 14px;
}
.cards-flex-container {
  flex-wrap: wrap !important;
}
.card {
  border-radius: 25px;
  width: 15rem;
  margin: auto;
  transition: all.3s ease-in-out;
}
.card:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
.card-img-top {
  border-radius: 20px;
  height: 220px !important;
  width: 96%;
  margin: 4px auto;
}
.stars{
  font-size: 10px !important;
}
#primary-button {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background-color: var(--primary-color);
  border: none;
}
.bluestar {
  color: var(--primary-color);
}
.greystar {
  color: #bebebe;
}
p.card-text,
.card-title {
  font-weight: bold;
  color: var(--primary-color);
}
.cardBottomInfo {
  color: #9c9a9a;
}

/* Modal styling start */
#modal-button{
  position: fixed;
  z-index: 999;
  top: 35vh;
  right: 25px;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: right;
 padding: 10px 50px;
  display: flex;
  justify-content:center;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
}
.modal-content{
  background-color: var(--body-color) !important;
}
.roundStyle input{
  border-radius: var(--border-radius) !important;
  padding: 10px var(--roundBoxPx);
  border: none;
}
#modalSelectbox{

  padding: 10px var(--roundBoxPx);
  width: 100% !important;
}

/* Modal styling end */
@media (max-width: 1168px) {
  #content .container {
    max-width: 1140px !important;
    padding: 0px;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }

  .card {
    border-radius: 25px;
    width: 14.6rem;
    margin: auto;
    transition: all.3s ease-in-out;
  }
}
