* {
  padding: 0;
  margin: 0;
  /* border: 1px solid rebeccapurple; */
}
a {
  /* text-decoration: none !important; */
}
#card-container a:hover{
  text-decoration: none!important;
}
:root {
  --white: #fff;
  --roundBoxPy: 15px;
  --thirteenpy: 13px;
  --roundBoxPx: 24px;
  --border-radius: 15px;
  --primary-color: #00b1ec;
  --round-box-width: 100%;
  --body-color: #f5f5f5;
  --shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  --primary-gradient: linear-gradient(
    180deg,
    rgb(65, 167, 237) 0%,
    rgb(38, 128, 235) 100%
  );
}
@font-face {
  font-family: algerian;
  src: url(../webfonts/Algerian\ Regular.ttf);
}

body {
  background-color: #f5f5f5;
  position: relative;
  overflow-x: hidden !important;
  margin: auto;
  width: 100vw;
}
main {
  overflow-x: hidden !important;
  margin: auto;
  width: 100%;
}

/* ========================================
        Navbar Styling start
  ========================================= */

nav {
  border-radius: 25px;
  padding: 20px;
  background-color: var(--white);
}
#logo {
  font-family: algerian;

  font-size: 1.2rem !important;
}

/* ========================================
        Navbar Styling end
  ========================================= */

/* ========================================
        Content Styling start
  ========================================= */

/* === Here I am styling element in section 1 === */

#selectedForLeft {
  width: 98%;
  margin: auto;
}
.round-box-title {
  width: var(--round-box-width);
  border-radius: 15px;
  padding: var(--roundBoxPy) var(--roundBoxPx);
  position: relative;
  background-color: var(--white);
  transition: all 0.5s;
}
.round-box-title:hover {
  box-shadow: var(--shadow);
}
#map {
  height: 300px;
  width: 99%;
  border-radius: var(--border-radius);
  margin: auto;
}
.map-container {
  position: relative;
  border-radius: var(--border-radius);
}
.containerOfSearch {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: calc(100% - 2rem);
}
.containerOfSearch:hover input {
  box-shadow: var(--shadow);
}
.containerOfSearch input {
  margin: 0;
  padding: var(--thirteenpy) var(--roundBoxPx);
  border: none;
  border-radius: var(--border-radius) !important;
  position: relative;
}
/* (*) symbol show  the code have written */
/* this code have written in below in parentOfSearch (*) */

/* === end === */

/* === Here I am styling element in section 2 for search === */
.parentOfSearch {
  border-radius: var(--border-radius) !important;
  background-color: #e4e4e4 !important;
}
section.second-search-section {
  width: 100%;
}
section.second-search-section input {
  padding: var(--roundBoxPy) var(--roundBoxPx);
  border-radius: var(--border-radius) !important;
  position: relative;
  background-color: #e4e4e4;
  border: none;
  width: 99%;
  margin: auto;
}
/* this code is same as for containerOfSearch in above (*) */
input.form-control ~ a {
  position: absolute;
  top: 15%;
  right: 5%;
  font-size: 25px;
  z-index: 111;
  color: var(--primary-color);
}
/*---- end ---*/
.number-wrapper {
  position: relative;
  width: var(--round-box-width) !important;
  border-radius: var(--border-radius);
  transition: 0.5s;
  display: flex;
  background-color: var(--white);
  transition: 0.3s;
}
.number-wrapper:hover {
  box-shadow: var(--shadow);
  cursor: pointer;
}
.number-wrapper span.content {
  border-radius: var(--border-radius);
  padding: 14px 50px 15px 24px;
}
.number-wrapper i {
  color: var(--primary-color) !important;
  padding: 0px !important;
}
.number-wrapper i::before {
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 15px;
  font-weight: 800 !important;
}
#box span {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 50px;
  display: none;
  font-size: 20px;
  user-select: none;
  color: var(--primary-color);
  box-sizing: border-box;
}
#box span:nth-child(1) {
  display: initial;
}
.number-wrapper img.next {
  position: absolute;
  top: 18%;
  right: 5%;
  margin: 0;
}
.prev,.next{
  width: 1rem;
}
.number-wrapper img.prev {
  position: absolute;
  bottom: 18%;
  right: 5%;
  margin: 0;
}
/* === Here I am styling element in section 3 for search box
 remember here styling are same for both 1 and 2 section ===
  */
.secondSelectbox {
  margin-left: 22px !important;
}
.select-box {
  position: relative;
  display: flex;
  width: var(--round-box-width);
  z-index: 191;
  flex-direction: column;
  left: 2%;
  right: 2%;
  margin: auto;
}
.options-container {
  border-radius: 25px !important;
  box-shadowr: var(--shadow);
}
.select-box .options-container.active {
  margin-left: 0%;
}
.ml-fix {
  margin-left: -10px !important;
}
.select-box .options-container {
  background: var(--white);
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
  position: absolute;
  z-index: 100;
}
.selected {
  background: var(--white);
  border-radius: var(--border-radius);
  margin-bottom: 8px;
  z-index: -1;
  position: relative;
  right: 2%;
  order: 0;
  transition: all 0.4s;
}
.selected:hover {
  box-shadow: var(--shadow);
}
.selected::after {
  content: "";
  background: url("../img/chevron.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 17px;
  right: 35px;
  top: 18px;
  transition: all 0.4s;
}
.mt-fix::after {
  top: 14px;
}
.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  margin-top: 60px;
}
.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -17px;
}
.select-box .option,
.selected {
  transition: 0.2s all ease-in-out;
  padding: var(--roundBoxPy) var(--roundBoxPx);
  cursor: pointer;
}
.select-box .option:hover {
  color: var(--primary-color);
}
.select-box label {
  cursor: pointer;
}
.select-box .option .radio {
  display: none;
}
/* === end === */

/* ========================================
        Content Section Styling end
  ========================================= */
.overflow-section {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
}
.overflow-section::-webkit-scrollbar {
  display: none;
}
.rankingImage {
  width: 40px;
  height: 40px;
  border-radius: 14px;
}
.cards-flex-container {
  flex-wrap: wrap !important;
}
.card {
  border-radius: 25px;
  min-width: 15rem;
  margin: auto;
  transition: all.3s ease-in-out;
}
.card:hover {
  box-shadow: var(--shadow);
  cursor: pointer;
}
.card-img-top {
  border-radius: 20px;
  height: 220px !important;
  width: 96%;
  margin: 4px auto;
  background-image: url("../img/1.webp");
  background-size: cover;
  background-position: center;
}
#cardsSection .pb-3:nth-child(2) .card-img-top {
  background-image: url("../img/2.webp");
}
#cardsSection .pb-3:nth-child(3) .card-img-top {
  background-image: url("../img/3.webp");
}
#cardsSection .pb-3:nth-child(4) .card-img-top {
  background-image: url("../img/4.webp");
}
#cardsSection .pb-3:nth-child(5) .card-img-top {
  background-image: url("../img/5.webp");
}
#cardsSection .pb-3:nth-child(6) .card-img-top {
  background-image: url("../img/6.webp");
}
.stars {
  font-size: 10px !important;
}
.primary-button {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background-color: var(--primary-color);
  border: none;
}
.bluestar {
  color: var(--primary-color);
}
.greystar {
  color: #bebebe;
}
p.card-text,
.card-title {
  font-weight: bold;
  color: var(--primary-color);
}
.cardBottomInfo {
  color: #9c9a9a;
}

/* Modal styling start */
#modal-button {
  position: fixed;
  z-index: 999;
  top: 35vh;
  right: 25px;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: right;
  padding: 10px 50px;
  display: flex;
  justify-content: center;
  border: none;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.modal-content {
  background-color: var(--body-color) !important;
}
.roundStyle input {
  border-radius: var(--border-radius) !important;
  padding: 10px var(--roundBoxPx) !important;
  border: none !important;
}
#modalSelectbox {
  margin-left: -12px;
  padding: 10px var(--roundBoxPx);
  width: 100% !important;
  margin-left: -1px;
  padding-left: 280px;
  color: var(--primary-color);
}
#category-title {
  position: absolute;
  top: 20%;
  left: 4%;
  color: #495057;
}
.modalSelectbox::after {
  top: 5px !important;
}
.modalSelectbox:focus {
  top: -14px !important;
}

#mortarBorderRadius {
  border-radius: var(--border-radius) !important;
}
#exampleCheck1 {
  /* position: absolute; */
  margin-top: 0.3rem;
  margin-left: 0px !important;
  margin-right: 15px !important;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 20px;
  margin-bottom: -5px;
  height: 20px;
  border: 2px solid #bebebe;
  background-color: #bebebe;
  transition: 0.2s all ease-in-out;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
#exampleCheck1:checked {
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
}
.feedback-textarea {
  resize: none;
  border: none;
  border-radius: 15px;
  padding: var(--roundBoxPy) var(--roundBoxPx);
}
#modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
#mortarFooterButton1,
#mortarFooterButton2 {
  width: 40%;
  border-radius: 10px;
  padding: 10px;
  border: none;
}
#mortarFooterButton1 {
  background-color: #fff;
  color: var(--primary-color);
}
#mortarFooterButton2 {
  background-color: var(--primary-color);
}

/* =========================================

  Page#2

  =========================================
*/
.pagetwocardsSection {
  flex-wrap: wrap;
}

#pagetwo-phase-two-star {
  background-color: var(--body-color);
  border-radius: var(--border-radius);
}

#pagno2-cards-flex-container {
  display: flex;
  flex-wrap: wrap;
}

#Page2-card-img-top {
  height: 350px !important;
}
#pageno2-cards-flex-container {
  flex: wrap;
  justify-content: space-between;
}
#pagetwo-card-container {
  width: 45%;
  height: 100% !important;
  min-width: 21.7rem !important;
  min-height: 600px;
}
#pagetwo-phaseone-stars i {
  font-size: 20px;
}
#pagetwo-phaseone-stars .forReview {
  color: var(--primary-color);
  font-size: 15px;
  font-weight: bold;
}
#pagetwo-card-container h4 {
  color: var(--primary-color) !important;
}
.title-content a {
  color: var(--primary-color) !important;
  font-weight: bold;
}
#smallDescription {
  color: #9c9a9a;
}
#pagetwo-phase-two-star i {
  padding: 0px;
  font-size: 50px;
}
.card {
  border-radius: 25px;
  min-width: 15rem;
  height: 100%;
  transition: all.3s ease-in-out;
}
#page2-input-box input {
  border-radius: var(--border-radius);
  width: 100%;
  padding: var(--roundBoxPy) var(--roundBoxPx);
}
#pagetwotextAreaExample {
  height: 200px !important;
}
#page2-input-box {
  border-radius: var(--border-radius);
  border: none;
}
#page2-input-box input {
  background-color: var(--body-color);
  border: none;
}

#pagetwotextAreaExample {
  background-color: var(--body-color);
  height: 250px;
}

#pageThreePrimaryButton {
  width: 25% !important;
  min-width: 250px;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  border: none;
}
#PageThreeOverFlowHidden {
  overflow-y: unset;
  height: 100%;
}
#pageFourDescrption {
  padding: 0;
  border-radius: var(--border-radius);
}
#pageFourDescrption input {
  border-radius: var(--border-radius);
  padding: var(--roundBoxPy) var(--roundBoxPx);
  width: 100%;
  border: none;
}
input:focus {
  outline: none;
}
input[type="file"] {
  display: none;
  width: 100%;
}
.custom-file-upload {
  border-radius: var(--border-radius);
  display: inline-block;
  background-color: #fff;
  cursor: pointer;
  padding: var(--roundBoxPy) var(--roundBoxPx);
  border: var(--shadow) !important;
}
.custom-file-upload {
  width: 100%;
}
#ForUploadFile {
  border: var(--shadow);
}
#ForUploadFile img {
  width: 22px;
  position: absolute;
  right: 7%;
}
#ForUploadFile input {
  width: 100% !important;
  position: relative;
}
#PageFourEndButton {
  width: 100%;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  border: none;

  letter-spacing: 5px;
}
.PageFourMap {
  height: 400px !important;
}
.boxshadow:hover{
  box-shadow: var(--shadow) !important;
}

/* Modal styling end */
@media (max-width: 1168px) {
  #content .container {
    max-width: 1140px !important;
    padding: 0px;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
  .card {
    border-radius: 25px;
    margin: auto;
    transition: all.3s ease-in-out;
  }
}
@media (max-width: 520px) {
  #modalSelectbox {
    padding-left: 43vw;
  }
}
@media (max-width: 768px) {
  .secondSelectbox {
    margin-left: -7%;
    order: -1;
    width: 100% !important;
  }
}

@media (max-width: 400px) {
  .modal-content {
    padding: 5px !important;
  }
  #mortarFooterButton1,
  #mortarFooterButton2 {
    width: 48%;
    border-radius: 10px;
    padding: 10px;
    border: none;
  }
  .card .card-img-top {
    height: 200px !important;
  }
}
@media (max-width: 450px) {
  .firs-search-section {
    padding-right: 0px !important;
  }
  #selectedForLeft {
    margin-left: -4%;
  }
}
@media (max-width: 991px) {
  #selectedForLeft {
    width: 100%;
  }
  #forMarginLeft {
    margin-left: -36px !important;
    margin-top: 5.3rem;
  }
}

@media (max-width: 1199px) {
  #card-container {
    width: 40%;
    min-width: 280px !important;
  }
  .card {
    width: 100% !important;
    min-width: 280px !important;
  }
}

@media (max-width: 992px) {
  #selectedForLeft {
    margin-left: -24px;
    margin-top: 1.5rem;
    width: 100%;
  }

  #pagetwo-card-container {
    width: 100% !important;
  }
}
@media (max-width: 950px) {
  #card-container {
    width: 80%;
    max-width: 380px;
    margin: auto;
    min-width: 280px !important;
  }
  .card {
    width: 100% !important;
    min-width: 280px !important;
  }
  .card-img-top {
    height: 300px !important;
  }
}

@media (max-width: 576px) {
  #card-container {
    width: 80%;
    margin: auto;
    min-width: 180px !important;
  }
  .card {
    width: 100% !important;
    min-width: 180px !important;
  }
  .card-img-top {
    height: 300px !important;
  }
}
@media (max-width: 445px) {
  .card-img-top {
    height: 280px !important;
  }
}
